.top-bar{
    background-color: $voilet-dark;
    color: white;
    margin-top: -20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.top-nav li{
    text-decoration: none;
    list-style: none;
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}
